<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
    <appender name="roll-by-size" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logfile.log" />
        <param name="MaxFileSize" value="1MB" />
        <param name="MaxBackupIndex" value="2" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
        </layout>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="roll-by-size"/>
    </root>
</log4j:configuration>